<div class="app-toolbar">
  <h1>Firm Types</h1>
  <%= link_to "Add Firm Type", new_firm_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
  <table class="table app-table">
    <thead>
      <tr>
        <th>Firm Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @firms.each do |firm| %>
        <tr>
          <td><%= firm.name %></td>
          <td class="app-row-actions">
            <%= link_to "Edit", edit_firm_path(firm) %> |
            <%= button_to "Delete", firm_path(firm), method: :delete, data: { turbo_confirm: "Delete this firm type?" }, class: "app-action-button app-delete-button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
