<div id="<%= dom_id office_category %>">
  <div>
    <strong>Name:</strong>
    <%= office_category.name %>
  </div>

  <div>
    <strong>Office level:</strong>
    <%= office_category.office_level %>
  </div>

  <div>
    <strong>Parent:</strong>
    <%= office_category.parent_id %>
  </div>

</div>
