<% content_for :title, "New document master" %>

<h1>New document master</h1>

<%= render "form", document_master: @document_master %>

<br>

<div>
  <%= link_to "Back to document masters", document_masters_path %>
</div>
