<div id="<%= dom_id service_type %>" class="app-detail-card">
  <div class="app-detail-grid">
    <div class="app-detail-item">
      <div class="app-detail-label">Service Type</div>
      <div class="app-detail-value"><%= service_type.name %></div>
    </div>
  </div>
</div>
