<div class="app-toolbar">
  <h1>Service Types</h1>
  <%= link_to "Add Service Type", new_service_type_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
  <table class="table app-table">
    <thead>
      <tr>
        <th>Service Type Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @service_types.each do |service_type| %>
        <tr>
          <td><%= service_type.name %></td>
          <td class="app-row-actions">
            <%= link_to "Edit", edit_service_type_path(service_type) %> |
            <%= link_to "Delete", service_type, method: :delete, data: { turbo_confirm: "Delete this service type?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
