<div class="app-page-header">
  <h2>Service Type Details</h2>
  <%= link_to "Back", service_types_path, class: "app-back-link" %>
</div>

<%= render @service_type %>

<div class="app-detail-actions">
  <%= link_to "Edit", edit_service_type_path(@service_type), class: "app-secondary-btn" %>
  <%= button_to "Delete", @service_type, method: :delete, data: { turbo_confirm: "Delete this service type?" }, class: "app-danger-btn" %>
</div>
