<%= form_with model: @theme do |f| %>
  <div class="app-form-card">
    <div class="app-form-grid">
      <div class="app-form-field">
        <%= f.label :name, "Thematic Type Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="app-form-actions">
      <%= f.submit "Save Thematic Type", class: "app-form-submit" %>
    </div>
  </div>
<% end %>
