<div id="<%= dom_id product_variety %>">
  <div>
    <strong>Name:</strong>
    <%= product_variety.name %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= product_variety.product_id %>
  </div>

</div>
