<div class="app-page-header">
  <h2>Add Approval Channel</h2>
  <%= link_to "Back", approval_channels_path, class: "app-back-link" %>
</div>

<%= render "form", approval_channel: @approval_channel %>
