<h1>LG - States</h1>

<p class="text-muted">LG includes State, District, and Block.</p>

<%= link_to "Add State", new_state_path %>

<table border="1">
<tr>
<th>Name</th>
<th>Action</th>
</tr>

<% @states.each do |state| %>
<tr>
<td><%= state.name %></td>

<td>
<%= link_to "Edit", edit_state_path(state) %> |
<%= link_to "Delete", state, method: :delete, data: { confirm: "Are you sure?" } %>
</td>

</tr>
<% end %>

</table>
