<div id="<%= dom_id stakeholder_category %>">
  <div>
    <strong>Name:</strong>
    <%= stakeholder_category.name %>
  </div>

  <div>
    <strong>Office category:</strong>
    <%= stakeholder_category.office_category_id %>
  </div>

</div>
