<div id="<%= dom_id registration_type %>" class="app-detail-card">
  <div class="app-detail-grid">
    <div class="app-detail-item">
      <div class="app-detail-label">Registration Type</div>
      <div class="app-detail-value"><%= registration_type.name %></div>
    </div>
  </div>
</div>
