<% content_for :title, "Editing registration type" %>

<h1>Editing registration type</h1>

<%= render "form", registration_type: @registration_type %>

<br>

<div>
  <%= link_to "Show this registration type", @registration_type %> |
  <%= link_to "Back to registration types", registration_types_path %>
</div>
