<div class="app-page-header">
  <h2>Edit Registration Type</h2>
  <%= link_to "Back", registration_types_path, class: "app-back-link" %>
</div>

<%= render "form", registration_type: @registration_type %>
