<div class="app-toolbar">
  <h1>Registration Types</h1>
  <%= link_to "Add Registration Type", new_registration_type_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
  <table class="table app-table">
    <thead>
      <tr>
        <th>Registration Type Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @registration_types.each do |registration_type| %>
        <tr>
          <td><%= registration_type.name %></td>
          <td class="app-row-actions">
            <%= link_to "Edit", edit_registration_type_path(registration_type) %> |
            <%= button_to "Delete", registration_type_path(registration_type), method: :delete, data: { turbo_confirm: "Delete this registration type?" }, class: "app-action-button app-delete-button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
