<% content_for :title, "New registration type" %>

<h1>New registration type</h1>

<%= render "form", registration_type: @registration_type %>

<br>

<div>
  <%= link_to "Back to registration types", registration_types_path %>
</div>
