<div id="<%= dom_id unit %>" class="app-detail-card">
  <div class="app-detail-grid">
    <div class="app-detail-item">
      <div class="app-detail-label">Unit</div>
      <div class="app-detail-value"><%= unit.name %></div>
    </div>
  </div>
</div>
