<div id="<%= dom_id vendor_bank_master %>" class="app-detail-card">
  <div class="app-detail-grid">
    <div class="app-detail-item">
      <div class="app-detail-label">Bank Name</div>
      <div class="app-detail-value"><%= vendor_bank_master.bank_name %></div>
    </div>
  </div>
</div>
